body {
    background-color: rgba(216, 214, 212, 0.541);
    background-image: url('https://res.cloudinary.com/doqqdubuq/image/upload/t_Banner 16:9/v1689110187/enmanuel-betances-santos-ZZybvrJA8uo-unsplash_1_ammgym.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
    
}

ul {
    float: right;
    margin-left: 25%;
    
}
 
li{
   font-size: large;
   font-weight: bolder;
   padding-left: 10px;
   margin-top: 40px;
   background-color:rgba(216, 214, 212, 0.315);
   text-decoration: underline;
   
   
}

a {
    line-height: 25px;
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
}

.container-fluid i {
    font-size: xxx-large;
    margin-top: 0.7cm;
    margin-left: 2.5cm;
    
    
}

.card {
    margin-right: 50px
}
.row {
    background-color: rgba(216, 214, 212, 0.541);
    margin-top: 10%;
    
    
}

.btn {
    background-color: black;
    margin-top: 5%;
    
}

h5 {
    margin-top: 15px;
}

h5 a {
    font-size: x-large;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    color:rgb(24, 47, 216);
    text-decoration: none;
    
}

h5 a:hover {
    color: rgb(249, 217, 35);
    background-color: rgba(0, 0, 0, 0.696);
}
.btn-primary {
    color: gold;
    background-color: rgba(0, 0, 0, 0.614);
    border-radius: 5px;
    border-color: gold;
    border-width: 2px;
    font-size: x-large;
}
.btn-primary:hover {
    color: rgba(0, 0, 0, 0.614);
    background-color: rgb(252, 215, 7);
    font-weight: 500;
}

.card {
    margin-left: 15%;
}

.form-field {
    margin-top: 0;

}
.form-title {
    width: 80%;
    
}

#FormControlTextarea{
    margin-left: 45%;
    width: 60%;
}

.footer {
    position: relative;
}



