{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>The Crown Event</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/46a797e506.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"> 
    </script>    
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <i class="fa-sharp fa-solid fa-crown fa-bounce fa-lg" style="color: #fbdb0b;"></i><span class="logo">
                    <h1>The Crown Event</h1>
                </span>
            </a>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a> 
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                     <a class="nav-link" href="{% url 'events' %}">Events</a> 
                    
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Bookings</a>
                </li>
                {% if user.username == "admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" method="request" href="{% url 'account_logout'%}">Sign out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" method="request"  href="{% url 'account_login'%}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" method="request" href="{% url 'account_signup'%}">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        
        </div>
    </nav>
    <main class="flex-shrink-0 ">
        <!-- display any alerts that have been raised -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </main>


   <!-- Footer -->
    <footer class="footer mt-2 mb-4 py-3 footer-bg bg-dark">

        <p class="m-0 text-center social-networks text-light">Please Follow Us On :
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram ms-3"></i></a>

            <a href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter ms-3"></i></a>

            <a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook ms-3"></i></a></p>
        <p class="m-0 text-center text-light">Copyrights reserved</p>
    </footer>

</body> 

</html>