{% extends "base.html" %}
{% load static %}

{% block content %}
<center>
  <form action="" method="post" id="bookingform" class="form-control bg-dark text-center text-light">
    {% csrf_token %}
    {{ from.as_p }}
    <h3 class="text-warning  py-4 ">Book an Event</h3>
    <div class="container-fluid text-center">
      <div class="form-field">
        <div class="col-6 mb-3 py-2 px-4 mx-auto">
          <select class="form-select form-select-lg bg-light text-dark" aria-label=".form-select-sm">
            <option selected>Select an Event</option>
            <option value="1">Birthday</option>
            <option value="2">Anniversary</option>
            <option value="3">Eid Milan Party</option>
            <option value="1">Graduation Party</option>
            <option value="2">Business Dinner</option>
            <option value="3">Party</option>
          </select>
        </div>
        <div>
          <!-- Guest input -->
          <label for="guests"><i class="fas fa-user"></i> No. of Guests:</label>
          {{ BookingForm.guests }}
          <input type="text">
        </div>
        <div class="form-field">
          <!-- Date input -->
          <label for="Date"><i class="fa-solid fa-calendar-days"></i> Date:</label>
          {{ BookingForm.date }}
          <input type="date">
        </div>
        <div class="form-field">
          <!-- Time input -->
          <label for="Time"><i class="fa-solid fa-clock"></i> Event Starts :</label>
          {{ BookingForm.time }}
          <input type="time">
          <label for="Time"><i class="fa-solid fa-clock"></i> Event Ends :</label>
          {{ BookingForm.time }}
          <input type="time">
        </div>
        <div class="form-field  mb-3">
          <!-- Theme input -->
          <label for="Theme"><i class="fa-brands fa-themeisle"></i> Theme for Event :</label>
          {{ BookingForm.theme }}
          <input type="text" placeholder="Your Choice">
        </div>
        <!-- menu input -->
        <div class="col-4 mb-3 py-2 px-4 mx-auto">
          <select class="form-select form-select-md bg-light text-dark" aria-label=".form-select-sm">
            {{ BookingForm.menu }}
            <option selected>Menu</option>
            <option value="1">Italien</option>
            <option value="2">Chinese</option>
            <option value="3">Oriental</option>
            <option value="1">Indien</option>
            <option value="2">Snacks</option>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Cake
              </label>
            </div>
          </select>
          <div class="col-4 mb-3 py-2 px-4 mx-auto">
            <select class="form-select form-select-md bg-light text-dark" aria-label=".form-select-sm">
              {{ BookingForm.drinks }}
              <option selected>Drinks</option>
              <option value="1">Juices</option>
              <option value="2">Cocktails</option>
              <option value="3">Fizzy Drinks</option>
              <option value="1">Shakes</option>
              <option value="2">Smoothies</option>
            </select>
        </div>
        <div>
          <!-- Name input -->
          <label for="fullName"><i class="fas fa-user"></i> Full Name :</label>
          {{ BookingForm.username }}
          <input type="text">
  
          <!-- Email input -->
          <label for="Email"><i class="fa-solid fa-envelope"></i> Email :</label>
          {{ BookingForm.useremail }}
          <input type="text">
        </div>
        <div class="text-center">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please Write Any Additional Information about The Event Here."></textarea>
        </div>
        <button type="submit" class="btn btn-form text-warning">Submit</button>
      </div>  
    </div>
      
  </form>
</center>
{% endblock %}