{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Hero Column -->
    <div class=" bg-dark text-secondary px-4 py-2 text-center">
      <div class="py-5">

        <h1 class=" display-5 fw-thin text-white">All Events</h1>
        <div class="col-lg-6 mx-auto">
          <p class="fs-4 mb-4 text-light">Here You Can see The List of Events We Offer to plan and Organise. <br> Book
            One And Give
            Us a Chance to Serve You and Make Your day Unforgetable.
          </p>
        </div>
      </div>
    </div>

    <div class="bg-dark"></div>
    {% if user.is_authenticated %}
    <!-- Link to booking page -->
    <div class="col align-self-center">
      <div class="book-btn"><a href="{% url 'booking' %}#">Book an Event</a></div>

    </div>
    {% else %}
    <!-- Links to Login/Register page -->
    <div class="col bck-login">
      <p>
        To view and Book an Event please <span><a class="authenticate-link"
            href="{% url 'account_login' %}"><b>LOGIN</b></a> / <a class="authenticate-link"
            href="{% url 'account_signup' %}"><b>REGISTER</b></a></span>
      </p>
    </div>
    {% endif %}
    <div class="container-fluid">
      <div class="row">

        <!-- Event Entries Column -->
        <div class="col-12 mt-3 left">
          <div class="row">
            {% for event in event_list %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="image-container">
                    {% if "placeholder" in event.featured_image.url %}
                    <img class="card-img-top" src="{% static 'media/event.jpg' %}" alt="Default event image">
                    {% else %}
                    <img class="card-img-top" src=" {{ event.featured_image.url }}">
                    {% endif %}
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

      </div>