{% extends "base.html" %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}



<div class="container-fluid overflow-hidden">
    <div class="row">
        <!-- Hero Column -->
        <div class=" bg-dark-grey text-secondary px-4 py-2 text-center">
            <div class="py-5">
                <div class="col-lg-12 mx-auto">
                {% if user.is_authenticated %}
                {% csrf_token %}
                    <div class="book-btn bg"><a href="#" method="Request" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .95rem;">
                        Book An Event</a>
                    </button>
                    </div>
                {% else %}
                <h3 class="fs-4 mb-4 text-dark">Here You Can See All The Events We Offer to plan and Organise. <br>
                    Please
                    Book
                    And Give Us a Chance to Serve You and Make Your day Unforgetable.
                </h3>
                {% endif %}

                </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark overflow-hidden">
        <div class="row bg-dark">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-2 left bg-dark">
                <div class="row bg-dark">
                    {% for event in event_list %}
                    <div class="col-md-4 bg-dark">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in event.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/doqqdubuq/image/upload/v1689790394/tuu6iuym358al0chdg1u.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ event.featured_image.url }}">
                                    {% endif %}

                                </div>

                                <h2 class="card-title">{{ event.title }}</h2>
                                <hr />
                                <div class="col-1 bg-dark text-light">
                                    <strong>
                                        {% if user.is_authenticated %}
                                        <form class="d-inline" action="{% url 'events' %}" method="POST">
                                            {% csrf_token %}
                                            {% if liked %}
                                            <button type="submit" name="events_id" value="{{events.slug}}"
                                                class="btn-like"><i class="fas fa-heart"></i></button>
                                            {% else %}
                                            <button type="submit" name="events_id" value="{{events.slug}}"
                                                class="btn-like"><i class="far fa-heart"></i></button>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <span class="text-secondary"><i class="far fa-heart"></i></span>
                                        {% endif %}
                                        <!-- The number of likes goes before the closing strong tag -->
                                        <span class="text-secondary">{{ events.number_of_likes }} </span>
                                    </strong>
                                </div>
                                <div class="col-1">
                                    {% with comments.count as total_comments %}
                                    <strong class="text-secondary"><i class="far fa-comments"></i>
                                        <!-- Our total_comments variable goes before the closing strong tag -->
                                        {{ total_comments }}</strong>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

<div class="row bg-dark">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.message | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form | crispy }}

                <button type="submit" class="btn btn-warning bg-light btn-md">Submit</button>
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>

</div>

{% endblock content %}