{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- hero image -->
<div id="main-bg">

    <div class="row">
        <h2 class="event-subheading bg-transparent text-center">Make Every Moment Memorable. <br>An Exceptional
            Experience Everytime.</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="d-sm-flex justify-content-sm-center">
        <a href="{% url 'events' %}" class="btn btn-outline-warning btn-lg px-4 me-sm-3 ">All
            Events</a>
    </div>
    {% else %}
    <div class="d-sm-flex justify-content-sm-center">
        <a href="{% url 'account_login' %}" class="btn btn-outline-warning btn-lg px-4 me-sm-3 ">Login</a>
        <a href="{% url 'account_signup' %}" class="txt txt-outline-warning">Signup</button></a>

    </div>
    {% endif %}
</div>
{%endblock%}