{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row content col-10 col-lg-9">
    <div class="center-container scroll max-h-100 h-100vh">
        <div class="center-container profile">
            <h2>Welcome back</h2> 
             {% for booking in previous_bookings %}
            <small>{{ booking.useremail }}</small><br><br>
            <div class="flex sp-between a-end upper_manage">
                <!-- Info message -->
                <h4>Bookings for {{ booking.date }}</h4>
                <form class="flex a-center" method="GET">
                    {% csrf_token %}
                    {{ date_form.as_p }}
                    <button type="submit" class="btn btn-sm btn-simple" id="filterSubmit">Submit</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>            
{% endblock %}