{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid bg-dark">
        <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/doqqdubuq/image/upload/v1689109441/fidel-fernando-249DzAuJTqQ-unsplash_vt4pct.jpg" class="card-img-top" alt="featured_image.event">
            <div class="card-body">
        <h5 class="card-title">Your Booking</h5>
        <a href="" class="btn btn-primary"> Edit </a> <a href="" class="btn btn-primary">Delete</a>
        </div>
    </div>
  
</div>
{% endblock %}